.userform {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input {
  margin: 0.5rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #5474d4;
}
